@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.about {
  $root: &;

  padding: 86px 0;
  background-color: var(--color-gray-100);

  &__inner {
    display: flex;
    border-radius: var(--radius-big);
    box-shadow: var(--shadow);

    // @include media(mobile-l) {
    //   flex-direction: column;
    // }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 493px;
    border-radius: 0 var(--radius-big) var(--radius-big) 0;
    padding: clamp(16px, vw(48), 48px);
    background-color: var(--color-white);
  }

  &__image {
    overflow: hidden;
    border-radius: var(--radius-big) 0 0 var(--radius-big);

    img {
      width: 100%;
      height: 100%;
    }
  }

  // &--home {
  //   p {
  //     margin-bottom: clamp(16px, vw(48), 48px);
  //   }
  // }

  // &--services {
  //   #{$root}__content {
  //     max-width: 596px;
  //     padding: clamp(16px, vw(24), 24px);
  //     background-color: var(--color-white);

  //     @include media(mobile-l) {
  //       max-width: 100%;
  //     }
  //   }

  //   #{$root}__inner {
  //     margin-bottom: clamp(30px, vw(88), 88px);
  //   }
  // }

  h3 {
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 32px;
  }
}
