/* stylelint-disable declaration-no-important */
@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

*[class].btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-orange-600);
  border-radius: var(--radius-main);
  padding: 8px 16px;
  width: 100%;
  max-width: fit-content;
  font-weight: var(--fw-800);
  font-size: 18px;
  line-height: 1.16;
  white-space: nowrap;
  color: var(--color-orange-600);
  background-color: var(--color-white);
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    color: var(--color-white);
    background-color: var(--color-orange-600);
  }

  &.formsapp-button {
   font-family: var(--font-family-primary);
    margin: 0;
    background-color: var(--color-orange-600) !important;

    &:hover,
    &:focus {
      color: var(--color-orange-600) !important;
      background-color: var(--color-white) !important;
    }
  }

  &--reverse {
    border-color: transparent;
    color: var(--color-white);
    background-color: var(--color-orange-600);

    &:hover,
    &:focus {
      border-color: var(--color-orange-600);
      color: var(--color-orange-600);
      background-color: var(--color-white);
    }
  }

  &--single {
    height: 64px;
    max-width: 64px;
    border-color: transparent;
    box-shadow: var(--shadow);

    &::before {
      @include mask;
      width: 20px;
      height: 21px;
      mask-image: url("../images/icons/arrow-left.svg");
      mask-position: 0 0;
      background-color: var(--color-orange-600);
    }

    &:hover {
      background-color: var(--color-orange-600);
      &::before {
        background-color: var(--color-white);
      }
    }
  }

  &--slider {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    border-color: transparent;
    height: 64px;
    max-width: 64px;
    background-color: var(--color-orange-600);

    &::before {
      @include mask;
      width: 20px;
      height: 21px;
      mask-image: url("../images/icons/arrow.svg");
      mask-position: 0 0;
      background-color: var(--color-white);
    }

    &:hover,
    &:focus {
      background-color: var(--color-white);
      border-color: var(--color-orange-600);
      &::before {
        background-color: var(--color-orange-600);
      }
    }
  }
}
