@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  position: relative;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 55%;
    background: var(--gradient);
    inset: 0;

    @include media(tablet) {
      background-color: var(--color-white);
      width: 100%;
      opacity: 0.8;
    }
  }

  &__inner {
    position: relative;
    padding: clamp(20px, vw(62), 62px) 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 646px;
    z-index: 1;

    @include media(desktop) {
      min-height: 550px;
      background-size: cover;
    }

    // @include media(tablet) {
    //   background-size: cover;
    // }

    // @include media(mobile-m) {
    //   padding: 20px;
    // }
  }

  h1 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 2.4rem;
    width: 100%;
    max-width: 389px;

    @include media(tablet) {
      max-width: 100%;
    }
  }

  @include media(desktop) {
    background-size: cover;
  }

  // @include media(tablet) {
  //   &__inner {
  //     min-height: 442px;
  //   }
  // }

  @include media(mobile-m) {
    .btn {
      max-width: none;
    }

    br {
      display: none;
    }
  }

  // &--about,
  // &--services {
  //   p {
  //     margin-bottom: 0;
  //     max-width: 567px;
  //   }
  // }
  // &--product {
  //   p {
  //     margin-bottom: 0;
  //   }
  // }

  @include media(tablet) {
    br {
      display: none;
    }
  }
}
