@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.slider {
  overflow: hidden;
  // margin-bottom: 32px;
  padding: 32px 0 48px;

  &--weddings {
    padding-top: 48px;
  }

  &__list {
    padding: 48px 0;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-big);
  }

  &__content {
    position: absolute;
    top: 65px;
    right: 101px;
    padding: clamp(16px, vw(48), 48px) clamp(16px, vw(52), 52px);
    width: 100%;
    max-width: 493px;
    background-color: var(--color-white);
    border-radius: var(--radius-big);

    h2 {
      font-size: clamp(18px, 0.9167rem + 1.4815vi, 36px);
      margin-bottom: 24px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    margin-bottom: 32px;
  }
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-horizontal-gap: 8px;
  background: var(--color-violet-50);
  margin: 0;


  &-active {
    background: var(--color-orange-600);
  }
}

.swiper-pagination {

  position: relative;
  bottom: 2px !important;
  z-index: 1;
}

.btn {
  &.swiper-button-disabled {
    background-color: var(--color-gray-600);
    pointer-events: none;
  }

  &--prev {
    left: 8px;
    scale: -1 1;
  }

  &--next {
    right: 8px;
  }
}
