@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.tabs {
  &__nav {
    .selected {
      &::before {
        z-index: -1;
        border-radius: var(--radius-big);
        background-color: var(--color-white);
      }
    }
  }

  &__panels {
    > div {
      animation:
        slide-up 1s forwards,
        fade-in 1.3s forwards;
    }
  }
}
