@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.approach {
  &__inner {
    display: flex;
    justify-content: space-between;

    @include media(mobile-l) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  &__box {
    padding: 32px 0;
    width: 100%;
    max-width: 390px;

    h2 {
      margin-bottom: 32px;
      font-size: clamp(18px, 0.9167rem + 1.4815vi, 36px);
    }

    @include media(mobile-l) {
      padding: 0;
      max-width: 100%;
    }
  }
}
