@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.menu {
  margin-bottom: 17px;

  &__nav {
    display: flex;
    overflow: auto hidden;
    margin-bottom: 38px;

    li {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    .btn {
      font-size: clamp(16px, 0.9167rem + 0.3704vi, 20px);
    }
  }

  &__full {
    overflow: hidden;
    max-width: 760px;
    width: 100%;
  }

  // &__thumbs {
  //   max-width: 450px;
  //   width: 100%;
  //   display: flex;
  //   height: 792px;
  //   gap: 30px;

  //   .swiper-slide {
  //     cursor: pointer;

  //     &.swiper-slide-thumb-active {
  //       background-color: var(--color-white);
  //     }
  //   }

  //   @include media(mobile-l) {
  //    height: 100px;
  //   }

  // }

  &__slider {
    display: flex;
    gap: 24px;

    @include media(mobile-l) {
      flex-direction: column-reverse;
    }
  }

  &__single {
    display: flex;
    overflow: hidden;
  }

  &__thumbs {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 431px;
    max-height: inherit;

    height: 792px;
    gap: 30px;

    .swiper-slide {
      cursor: pointer;

      &.swiper-slide-thumb-active {
        background-color: var(--color-white);
      }
    }

    li {
      height: 206px;
      border-radius: var(--radius-big);
      padding: clamp(5px, vw(24), 24px);

      img {
        margin-right: 24px;
        border-radius: 24px;
        width: 159px;
        height: 159px;
      }

      h3 {
        max-width: 200px;
        font-size: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
      }

      @include media(mobile-l) {
        h2,
        h3,
        p {
          display: none;
        }

        img {
          margin-right: 0;
          width: 75px;
          height: 75px;
        }

        height: 70px !important;
        width: 70px !important;
        padding: 0;
      }
    }

    h2 {
      margin-bottom: 16px;
    }

    @include media(mobile-l) {
      height: inherit;
      max-width: 100%;
      flex-wrap: wrap !important;
      gap: 15px;
    }
  }

  &__descr {
    display: flex;
    justify-content: space-between;

    img {
      margin-right: 24px;
      border-radius: 24px;
      width: 159px;
      height: 159px;
    }

    h3 {
      max-width: 200px;
      font-size: 20px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__content {
    position: relative;
    border-radius: var(--radius-big);
    padding: clamp(20px, vw(48), 48px);
    background-color: var(--color-white);
    overflow: hidden;

    img {
      position: relative;
      min-height: 342px;
      overflow: hidden;
      margin-bottom: 24px;
      border-radius: 24px;
    }

    p {
      margin-bottom: 24px;
      line-height: 1.5;
    }

    span {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      border-radius: 8px;
      padding: 8px 16px;
      font-weight: var(--fw-800);
      font-size: 20px;
      line-height: 1.5;
      color: var(--color-violet-400);
      background-color: var(--color-white);
      transform: translate(-61px, 303px);
    }

    ul {
      li {
        &:not(:first-child) {
          position: relative;
          padding-left: 30px;
          line-height: 1.5;
          opacity: 0.8;

          &::before {
            content: "";
            position: absolute;
            left: 14px;
            top: 14px;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            background-color: var(--color-black);
            opacity: 0.8;
          }
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &:first-child {
          margin-bottom: 10px;
          font-weight: var(--fw-800);
        }
      }
    }
  }

  // &__slider-nav {
  //   display: flex;
  //   flex-direction: column;

  //   .swiper-slide {
  //     cursor: pointer;
  //   }
  // }

  h2 {
    margin-bottom: 6px;
    font-size: clamp(26px, 1.5rem + 0.5556vi, 32px);
  }
}
