/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --content-width: 1216px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Rubik", sans-serif;

  // font-weight
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  // color
  --color-black: #000;
  --color-white: #fff;
  --color-violet-400: #45373d;
  --color-violet-50: #c9ada7;
  --color-gray-600:#5d5c61;
  --color-gray-100: #f9f6f7;
  --color-orange-600: #ff9f1c;

  //  radius
  --radius-main: 8px;
  // --radius-big: calc((var(--radius-main) * 2));

  // bg
  --gradient: linear-gradient(
  270deg,
  rgba(241, 241, 241, 0.79) 0%,
  rgba(241, 241, 241, 0.79) 49.75%,
  rgba(241, 241, 241, 0.79) 49.9%,
  rgba(241, 241, 241, 0.79) 100%
);

--gradient-violet: linear-gradient(180deg, #c9ada7 0%, #442c13 100%);


// --gradient: linear-gradient(270deg, #f1f1f1 0%, #f1f1f1 49.75%, #f1f1f1 49.9%, #f1f1f1 100%);


--shadow: 0 0 50px 0 rgba(201, 173, 167, 0.7);
}
