@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.customisation {
  $root: &;

  &__inner {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
    display: flex;
    gap: 24px;

    @include media(mobile-l) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &--assistance {
    #{$root}__inner {
      @include media(mobile-l) {
        flex-direction: column-reverse;
      }
    }
  }

  &--proccess {
      #{$root}__list {
        max-width: 493px;
      }
  }

  &__list {
    display: grid;
    width: 100%;
    max-width: 390px;
    gap: 24px;
  }

  &__item {
    border-radius: var(--radius-big);
    padding: clamp(16px, vw(24), 24px);
    background-color: var(--color-white);
    box-shadow: var(--shadow);

    h3 {
      font-size: 20px;
      line-height: 1.5;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: var(--radius-big);
  }

  p {
    line-height: 1.5;
  }

  span {
    font-weight: var(--fw-800);
  }
}
